.service{
    .word{
        margin: 2%;
        font-size: 38px;
        display: flex;
        justify-content: center;
        align-items: center;


    }


    .ratateContainer{
        padding: 20px;
    }
}