@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

.topbar{
    background-color: white;
    margin: 0 10% 0 10%;


    .container{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        @media(max-width:768px){
            flex-direction: column;
            }
        .logo{
            flex:1;
            img{
                margin: 20% 10% 10% 10%;
                height: 100%;
                width: 100px;

                @media(max-width:768px){
                width: 100px;

                }
            
            }
        }


        .left{
            flex:4;
            font-family: 'Ma Shan Zheng', cursive;
            display: flex;
            align-items: left;
            flex-direction: column;
            justify-content: space-between;
            .cn{
                h1{
                    font-size: 30px;
                    @media(max-width:768px){
                        font-size: 20px;
        
                        }
                }
            }

            .en{
                h2{
                    font-size: 24px;
                    @media(max-width:768px){
                        font-size: 18px;
        
                        }
                }
            }

        }


        .right{
            flex:6;
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                margin: 10px;
                padding: 0;
                list-style: none;
                display: flex;
                overflow: hidden;
                justify-content: space-between;
                font-size: 24px;

                @media(max-width:768px){
                    font-size: 12px;
                    
                    }
                
                li{
                    margin: 0 10px 0 0;
                    @media(max-width:768px){
                        margin: 0 20px 0 20px;
                    }   
                    
                    a{
                        text-decoration: none;
                        color: black;
                        border-radius: 2px;
                        
                        &:hover{
                            color: white;
                            background-color: brown;
                        }
                    }
                }
            }
        }



    }

}