

.projectList{
    z-index: 3;
    font-size: 20px;
    color: black;
    margin: 5px;
    padding: 0.7em;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    font-weight: 800;

    @media(max-width:768px){
        font-size: 10px;
        margin: 0;
        padding: 0;
        margin: 0;

    }

    &:hover{
        background-color: brown;
        color: white;
        cursor: pointer;
    }

    &.active{
        background-color: white;
        color: #ab3130;
    }
}
